/* LAYOUT */

.body-payment {
  margin: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}

.container-payment {
  min-height: 100%;
  background-color: #3B5BAE;
  width: 395px;
}

.header-address {
  width: 85%;
  min-height: 135px;
  background-color: white;
  margin: 50px auto;
  border-radius: 20px;
}

.judul-header-address {
  
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: #C5660E;
  font-size: 20px;
  font-family: "Manrope";
  font-style: normal;
}

.jalan {
  display: flex;
  flex-direction: column;
}

.jalan-user {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.note {
  min-height: 30px;
  width: 250px;
  margin-left: 10px;
  color: #89b2a1;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  font-family: "Manrope";
  font-style: normal;
}

.input-note {
  color: #89b2a1;
  font-size: 10px;
}

.alamat-user {
  margin-left: 10px;

  font-size: 13px;
  font-weight: 400;

  font-family: "Manrope";
  font-style: normal;
}

/* CHOSOSE PAYMENT METHOD */

.content-payment {
  /* width: 85%; */
  height: 250px;
  background-color: white;
  /* margin: 40px auto; */
  margin-top: 20px;
  margin-bottom: 30px;
  
  /* border-radius: 20px; */
}

.judul-payment-method {
  margin-left: 20px;
  font-weight: bold;
  color: #C5660E;
  font-size: 20px;

  font-family: "Manrope";
  font-style: normal;
}

.box-list-payment {
  padding-top: 20px;
}

.top-list-payment {
  margin-top: 15px;
  margin-left: -20px;
}

.rd-payment-method {
  min-height: 60px;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.rd-option {
  margin-right: 20px;
}

.rd-label {
  margin-left: 20px;
  font-size: 12px;
  font-weight: bold;

  font-family: "Manrope";
  font-style: normal;
}



.rd-harga {
  margin-left: 20px;
  color: gray;
  font-size: 10px;
  font-weight: 700;

  font-family: "Manrope";
  font-style: normal;
}

.harga-option {
  font-family: "Manrope";
  font-style: normal;
}

/* FOOTER TOTAL PRICE */
.footer-order {
  height: 240px;
  margin-top: 70px;
  width: 396px;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.deskripsi-total {
  margin-bottom: 50px;
  margin-top: 55px;
  display: flex;
  justify-content: center;
  font-family: "Manrope";
  font-style: normal;
}

.total-footer {
  margin-top: 35px;
  margin-left: 20px;
}

.deskripsi-total-price {
  color: #3B5BAE;
  font-size: 12px;
  margin-top: 5px;
  font-weight: 700;
  
}

.total-price {
  font-size: 20px;
  font-weight: bold;
  
}

.nominal-total-price {
  font-size: 20px;
  font-weight: bold;
}

.nominal-deskripsi {
  margin-top: 35px;
  text-align: right;
  margin-left: 80px;
  margin-right: 20px;
}

.order {
  width: 200px;
  height: 30px;
  background-color: #3B5BAE;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 800;
  font-family: "Open Sans";
  font-style: normal;
  margin-bottom: 20px;
  color: white;
}

.btn-order {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.line-address{
  width: 85%;
  height: 3px;
  background-color: #3B5BAE;
  margin: 20px auto;
}

.line-total-price{
  width: 85%;
  height: 3px;
  background-color: #3B5BAE;
  margin: 20px auto;
  margin-bottom: -50px;
  
}





@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .container-payment {
    height: 1024px;
    background-color: #2fdd92;
    width: 768px;
  }

  .header-address {
    margin-top: 70px;
    margin-bottom: 100px;
  }

  .footer-order {
    margin-top: 110px;
  }

  .deskripsi-total {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
  }

  .nominal-deskripsi {
    margin-left: 520px;
  }

  .content-payment {
    height: 400px;
  }

  .rd-payment-method {
    height: 80px;
  }
}
